<!DOCTYPE html>
<html>
<head>
    <title>Text Editor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
      <br>
        <h1>Text Editor</h1>
    </br>
        <form action="/edit" method="get">
            <div class="form-group">
                <label for="filename">Enter name:</label>
                <input type="text" class="form-control" id="filename" name="filename" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</body>
</html>
